.input-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;

  &.error input, &.error select{
    box-shadow: 0 0 14px 0 rgba(255,0,43,0.62);
    border-color: rgba(255,0,43,0.62);
  }

  &-name{
    font-size: 18px;
  }

  &-field{
    width: 100%;
    padding: 8px;
    border-radius: 7px;
    font-size: 16px;
  }

  .error-massage{
    color: red;
    position: absolute;
    bottom: -20px;
    font-size: 14px;
  }
}